/* Style.css */

* {
    padding: 0;
    margin: 0;
}

body {background: whitesmoke;}

.main-header .about-row {
    background: #fff;
    height: 450px;
}

.main-header .container .content {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.main-header .container .content .do {
    font-family: "Open Sans", Times, serif;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px;
}

.main-header .container .content .location {
    text-align: center;
    margin: 20px 0px;
}

.main-header .container .content .img-container {
    width: 200px;
    margin: 0 auto;
    height: auto;
}

.main-header .me-image {
    width: 200px;
    margin: 20px 0 0 0;
    border-radius: 50%;
}

.main-header .btn-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* BUTTONs */

.btn-default{
    padding: 13px 40px;
    text-transform: uppercase;
    font-weight: 700;
    background: transparent;
    color: #fff;
    position: relative;
    border-radius: 50px;
}
.btn-default,.btn-default.featured{
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
.btn-default:hover {
    background: #00AEFF;
    border-color:#00AEFF ;
    color: #fff;
}
.btn-default.featured{
    background: #00AEFF;
    border-color:#00AEFF ;
    color: #fff;

}
.btn-default.featured:hover{
    background: #169FCC;
    outline: 0;
    color: #fff ;
}