/* Style.css */

* {
    padding: 0;
    margin: 0;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,300);
@import 'https://fonts.googleapis.com/css?family=Hind+Madurai';

.containerMain {max-width: 640px; margin: 0 auto;}
.margin60 {margin: 60px 0;}

.main-header {background: #fff;}

.main-header .about-row {
    background: #fff;
    height: 450px;
}

.main-header .container .content {
    width: 70%;
    height: auto;
    text-align: left;
    display: inline-block;
}

.main-header .container .name {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
}

.main-header .container .do {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    color: rgba(0,0,0,.6);
}

.main-header .container .content .location {
    margin: 20px 0px;
}

.main-header .container .img-container {
    width: 100px;
    height: auto;
    float: right;
}

.main-header .me-image {
    width: 100px;
    border-radius: 50%;
}

.main-header .btn-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.main-header .content .list-networks li a i {
    color: #000;
}

.main-header .content .list-networks li a:hover i {
    color: #00AEFF;
}
/* Projects */

.projectBody {
    position: relative;
    background-image: url("https://i.imgur.com/VtLLuvW.jpg");
    background-position: center;
    background-size: cover;
    padding: 80px 0px;
}

.projectBody2 {
    position: relative;
    background-image: url("https://cdn-images-1.medium.com/max/1400/gradv/29/81/30/darken/25/1*pZGK3uR7vJwdzSUdlrTwIA.jpeg");
    background-position: center;
    background-size: cover;
    padding: 80px 0px;
}

.projectBody .projectTitle, .projectBody2 .projectTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #fff;
    text-align: right;
}

.projectBody .projectSubtitle, .projectBody2 .projectSubtitle {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 17px;
    color: #fff;
}

.projectBody2 .projectTitle, .projectBody2 .projectSubtitle {
    text-align: left; !important
}

/* BUTTONs */

.btn-default{
    padding: 13px 40px;
    text-transform: uppercase;
    font-weight: 700;
    background: transparent;
    color: #00AEFF;
    position: relative;
    border-radius: 50px;
}
.btn-default,.btn-default.featured{
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
.btn-default:hover {
    background: #00AEFF;
    border-color:#00AEFF ;
    color: #fff;
}
.btn-default.featured{
    background: #00AEFF;
    border-color:#00AEFF ;
    color: #fff;

}
.btn-default.featured:hover{
    background: #169FCC;
    outline: 0;
    color: #fff ;
}

/*Overlay
============================================*/


.bg-overlay.pattern {
    background: url("../images/pattern.png") repeat scroll 0% 0% transparent;
}
.bg-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
}

@media (min-width : 320px) and (max-width : 767px)  {
    .main-header .container .content {
        width: 60%;
    }
}
